body{
    background-color: orange;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0px;

}

.container{
    height: 300px;
    width: auto;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border: 10px solid;
    h1{
        font-size: 50px;
    }
    button{
        font-size: large;
        margin: 20px;
        padding: 10px;
        height: 50px;
        border-style: none;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
}
